:root{
    --purple: #1D1E4C;
    --light: #E5E5FD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 16px solid #1D1E4C;
    background-color: #E5E5FD;
}
.container{
    width: 60%;
    margin: 0 auto;
}
.container-1{
    padding-top: 5%;
    padding-bottom: 5%;
}
.main-img{
    width: 30%;
    border-radius: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 30px;
}
.main-name{
    color: var(--purple);
    letter-spacing: 2px;
    font-size: 35px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main-name-2{
    color: var(--purple);
    text-align: right;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-nickname{
    color: var(--purple);
    text-align: left;
    font-size: 35px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main-para{
    font-size: 14px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.biography{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bio-head{
    text-transform: uppercase;
    color: var(--purple);
    text-align: left;
    font-size: 23px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.achievements-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.last{
    margin-top: 50px;
    text-align: right;
}
.wiki{
    font-size: 14px;
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;   
}





@media(min-width:1300px){
    .header{
        justify-content: space-around;
    }
}
@media(max-width:1100px){
    .main-img{
        width: 60%;
    }
    .names{
        width: 100%;
        text-align: center!important;
    }
    .header{
        justify-content: center;
    }
    .main-name-2{
        text-align: center;
        margin-top: 10px;
    }
    .main-nickname{
        text-align: center;
    }
    .main-para{
        text-align: center;
    }
    .bio-head{
        text-align: center !important;
    }
}
@media(max-width:800px){
    body{
        border: 10px solid #1D1E4C;
    }
    .main-name{
        font-size: 26px;
    }
    .main-name-2{
        font-size: 11px;
    }
    .main-nickname{
        font-size: 24px;
    }
    .main-para{
        font-size: 12px;
    }
    .bio-head{
        font-size: 21px;
    }
    .wiki{
        font-size: 11px;
    }
    .main-img{
        width: 60%;
    }
}
@media(max-width:600px){
    .container{
        width: 80%;
    }
}
@media(max-width:450px){
    .container{
        width: 85%;
    }
    .main-name{
        font-size: 20px;
    }
    .main-name-2{
        font-size: 9px;
    }
    .main-para{
        font-size: 11px;
    }
    .wiki{
        font-size: 9px;
    }
    .bio-head{
        font-size: 17px;
    }
    .main-nickname{
        font-size: 18px;
    }
}