:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container-fluid{
    max-width: 1200px;
    padding: 0 10px;
}
.menu-links-in{
    margin-left: 30px;
    transition: 0.3s ease-in;
}
.menu-links-in:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}
header{
    background-color: var(--purple300);
    color: white;
    font-family: "Roboto", sans-serif;
    position: sticky;
    top: 0;
    z-index: 500;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.logo-in{
    font-size: 32px;
    font-weight: 600;
}
.navbar{
    padding: 20px 0 !important;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
    background-color: rgb(69 68 68 / 37%);
}
::-webkit-scrollbar-thumb{
    background-color: #270082d0;
}
.baar{
    display: none !important;
}
.menu-links-out{
    display: block !important;
    cursor: pointer;
}
.hero{
    background-image: url(./images/hero_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 91vh;
}
.hero-text-one{
    font-size: 96px;
    font-weight: bold;
}
.hero-text-two{
    font-size: 32px;
}
.hero-text-three{
    width: 85%;
    font-weight: 400;
}
.hero-in{
    row-gap: 30px;
    padding: 0 1rem;
}
.hero-in-in{
    row-gap: 25px;
}
.music-section{
    background-color: var(--purple500);
    padding-top: 50px;
}
.fa-music{
    font-size: 25px;
}
.music-text-one{
    font-weight: 600;
}
.music-button{
    font-size: 15px;
    background-color: var(--red600);
    transition: 0.3s ease-in;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    font-weight: 500;
}
.music-button:hover{
    transform: scale(1.07);
}
.ipad-img{
    margin-top: -346px;
    top: 360px;
    position: relative;
}
.read-more{
    margin-top: 430px;
}
.read-more-text-one{
    font-size: 18px;
    font-weight: bold;
}
.read-more-button{
    font-size: 15px;
    background-color: var(--purple300);
    transition: 0.3s ease-in;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    font-weight: 500;
}
.read-more-button:hover{
    transform: scale(1.07);
}
.card-button{
    font-size: 13px;
    background-color: var(--purple300);
    transition: 0.3s ease-in;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    font-weight: 500;
}
.card-button:hover{
    transform: scale(1.07);
}
.read-more-img{
    margin-top: 10px;
}
.read-more-img-in{
    transition: 0.3s ease-in;
}
.read-more-img-in:hover{
    transform: scale(1.01);
}
.entertainment{
    width: 100%;
    background-image: url(./images/video.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 91vh;
    margin-top: 40px;
}
.card-section{
    margin-top: 60px !important;
    margin-bottom: 80px !important;
    column-gap: 50px;
    row-gap: 30px;
}
.card-img-out{
    width: 40%;
}
.card-img{
    width: 100%;
}
.card-img-text-out{
    width: 60%;
    align-items: flex-start;
}
.divider{
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 5px;
}
.card-img-text-out-two{
    text-align: left;
}
.card-img-text-out-three{
    text-align: left;
}
.footer-out{
    background-color: var(--purple600);
    padding: 20px !important;
}
.footer-text-one{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    border-bottom: 2px solid white;
}
.footer-text-two{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}
.copy-right{
    background-color: var(--purple300);
    width: 100%;
    height: 70px;
}










@media(max-width:1200px){
    .container-fluid{
        padding: 0 20px !important;
    }
}
@media(max-width:1100px){
    .hero-text-one{
        font-size: 80px;
    }
    .hero-text-two{
        font-size: 30px;
    }
    .hero-in{
        row-gap: 25px;
    }
    .hero-in-in{
        row-gap: 20px;
    }
}
@media(max-width:1000px){
    .ipad-img-in{
        width: 850px;
    }
}
@media(max-width:900px){
    .hero-text-one{
        font-size: 70px;
    }
    .hero-text-two{
        font-size: 27px;
    }
    .hero-in{
        row-gap: 22px;
    }
    .hero-in-in{
        row-gap: 17px;
    }
    .ipad-img-in{
        width: 700px;
    }
}
@media(max-width:768px){
    .menu-links-out{
        display: none !important;
    }
    .menu-links-in{
        display: none;
    }
    .baar{
        display: block !important;
        font-size: 20px;
    }
    .hero-text-one{
        font-size: 60px;
    }
    .hero-text-two{
        font-size: 25px;
    }
    .hero-in{
        row-gap: 18px;
    }
    .hero-in-in{
        row-gap: 15px;
    }
    .hero-text-three{
        width: 90%;
        font-weight: 300;
    }
    .ipad-img{
        margin-top: -247px;
        top: 253px;
        position: relative;
    }
    .ipad-img-in{
        width: 580px;
    }
    .read-more{
        margin-top: 320px;
    }
    .hero{
        height: 70vh;
    }
    .entertainment{
        height: 70vh;
    }
    .card-section{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-img-out{
        width: 90%;
        text-align: center;
    }
    .card-img{
        max-width: 400px !important;
    }
    .card-img-text-out{
        width: 90%;
        margin: 0 auto !important;
        text-align: center;
        align-items: center;
    }
    .card-img-text-out-two{
        text-align: center;
    }
    .card-img-text-out-three{
        text-align: center;
    }
    .footer-in{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .footer-column{
        width: 45%;
    }
    .footer-text-one{
        text-align: center;
    }
    .footer-text-two{
        text-align: center;
    }
}
@media(max-width:600px){
    .hero-text-one{
        font-size: 50px;
    }
    .hero-text-two{
        font-size: 20px;
    }
    .hero-in{
        row-gap: 15px;
        padding: 0 0.5rem;
    }
    .hero-in-in{
        row-gap: 15px;
    }
    .ipad-img{
        margin-top: -180px;
        top: 190px;
        position: relative;
    }
    .ipad-img-in{
        width: 450px;
    }
    .read-more{
        margin-top: 240px;
    }
    .logo-in{
        font-size: 30px;
        font-weight: 600;
    }
}
@media(max-width:470px){
    .ipad-img{
        margin-top: -135px;
        top: 135px;
        position: relative;
    }
    .ipad-img-in{
        width: 330px;
    }
    .read-more{
        margin-top: 175px;
    }
    .hero{
        height: 55vh;
    }
    .hero-text-two{
        width: 90%;
    }
    .hero-text-one{
        font-size: 42px;
    }
    .logo-in{
        font-size: 26px;
        font-weight: 600;
    }
    .navbar{
        padding: 17px 0 !important;
    }
    /* .card-img{
        width: 350px !important;
    } */
    .card-img-text-out{
        width: 95%;
        margin: 0 auto !important;
        text-align: center;
        align-items: center;
    }
    .footer-column{
        width: 100%;
    }
    .footer-in{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .music-text-one{
        font-weight: 500;
    }
    .music-button{
        font-size: 14px;
        background-color: var(--red600);
        transition: 0.3s ease-in;
        cursor: pointer;
        padding: 0.5rem 0.7rem;
        font-weight: 400;
    }
    .card-button{
        font-size: 14px;
        font-weight: 400;
        padding: 0.5rem 0.7rem;
    }
    .read-more-button{
        font-size: 14px;
        font-weight: 400;
        padding: 0.5rem 0.7rem;
    }
}
@media(max-width:380px){
    .ipad-img{
        margin-top: -100px;
        top: 100px;
        position: relative;
    }
    .ipad-img-in{
        width: 250px;
    }
    .read-more{
        margin-top: 130px;
    }
}
@media(max-width:280px){
    .ipad-img{
        margin-top: -50px;
        top: 50px;
        position: relative;
    }
    .ipad-img-in{
        width: 180px;
    }
    .read-more{
        margin-top: 90px;
    }
}