:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container-fluid{
    max-width: 1200px;
    padding: 0 20px !important;
}
.menu-links-in{
    margin-left: 30px;
    transition: 0.3s ease-in;
}
.menu-links-in:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}
header{
    background-color: var(--purple300);
    color: var(--body);
    font-family: "Roboto", sans-serif;
    position: sticky;
    top: 0;
    z-index: 500;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.logo-in{
    font-size: 32px;
    font-weight: 600;
}
.navbar{
    padding: 18px 0 !important;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
    background-color: rgb(69 68 68 / 37%);
}
::-webkit-scrollbar-thumb{
    background-color: #270082d0;
}
.baar{
    display: none !important;
}
.menu-links-out{
    display: block !important;
}
.hero{
    background-image: url(./images/hero_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.hero-text-one{
    font-size: 96px;
    font-weight: bold;
}
.hero-text-two{
    font-size: 32px;
}
.hero-text-three{
    width: 85%;
    font-weight: 400;
}
.hero-in{
    row-gap: 30px;
    padding: 0 1rem;
}
.hero-in-in{
    row-gap: 25px;
}
.music-section{
    background-color: var(--purple500);
    padding-top: 50px;
}
.fa-music{
    font-size: 25px;
}
.music-text-one{
    font-weight: 600;
}













@media(max-width:1300px){

}
@media(max-width:1100px){
    .hero-text-one{
        font-size: 80px;
    }
    .hero-text-two{
        font-size: 30px;
    }
    .hero-in{
        row-gap: 25px;
    }
    .hero-in-in{
        row-gap: 20px;
    }
}
@media(max-width:900px){
    .hero-text-one{
        font-size: 70px;
    }
    .hero-text-two{
        font-size: 27px;
    }
    .hero-in{
        row-gap: 22px;
    }
    .hero-in-in{
        row-gap: 17px;
    }
}
@media(max-width:768px){
    .menu-links-out{
        display: none !important;
    }
    .menu-links-in{
        display: none;
    }
    .baar{
        display: block !important;
        font-size: 20px;
    }
    .hero-text-one{
        font-size: 60px;
    }
    .hero-text-two{
        font-size: 25px;
    }
    .hero-in{
        row-gap: 18px;
    }
    .hero-in-in{
        row-gap: 15px;
    }
    .hero-text-three{
        width: 90%;
        font-weight: 300;
    }
}
@media(max-width:600px){
    .hero-text-one{
        font-size: 50px;
    }
    .hero-text-two{
        font-size: 20px;
    }
    .hero-in{
        row-gap: 15px;
        padding: 0 0.5rem;
    }
    .hero-in-in{
        row-gap: 15px;
    }
}
@media(max-width:400px){
    
}