*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-bar{
    font-size: 35px;
}
.width-80{
    width: 80%;
}
.width-90-offers{
    width: 80%;
}
.width-80-hero{
    width: 90%;
}
.header{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}
.navbar{
    width: 75%;
}
.hero-text-one{
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
}
.hero-text-three{
    margin-top: 1.5rem;
}
.hero-text-two{
    margin-top: 1.5rem;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;
}
.hero-text-four{
    font-weight: 400;
    display: inline-block;
    margin-top: 1rem;
    background: #ffc066;
    padding: 10px 15px;
    color: #000000;
    transition-duration: 0.3s;
}
.hero-text-four:hover{
    background: #ffb348;
    transform: scale(1.1);
    cursor: pointer;
}
.hero-text-section{
    width: 48%;
}
.offers{
    width: 30%;
}
.icons{
    width: 4rem;
    transition: 0.3s ease-in-out;
}
.icons:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.offer-section-in{
    justify-content: space-around;
}
.divider{
    border: 1px solid #ccc;
    width: 82%;
    margin: 0 auto;
}
.offer-card-heading{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.offer-card-text{
    margin-bottom: 0;
}
.our-menu{
    background-color: #149f39;
    padding: 7px 10px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin: 0 auto !important;
}
.footer{
    background-color: #fff0db !important;
}
.logo-footer{
    height: 85px;
}
.color-gray{
    color: gray;
    font-size: 1.17rem;
    font-weight: bold;
    margin-bottom: 0;
}
.footer-in{
    max-width: 1250px;
    margin: 0 auto;
}
.input-email{
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}
.fa{
    font-size: 30px;
}








@media(max-width:1400px){
    .offer-section-in{
        justify-content: space-between;
    }
}
@media(max-width:1200px){
    .width-80-hero{
        width: 90%;
    }
}
@media(max-width:1100px){
    .hero-text-two{
        font-size: 50px;
    }
}
@media(max-width:1000px){
    .navbar{
        width: 85%;
    }
    .head-bar{
        font-size: 25px;
    }
    .hero-in{
        flex-wrap: wrap;
    }
    .hero-img{
        width: 60%;
        margin: 0 auto;
    }
    .hero-text-section{
        text-align: center;
        width: 100%;
    }
    .hero-text-three{
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .hero-text-four{
        margin-top: 1.5rem;
    }
    .offer-section-in{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 3rem;
        column-gap: 5rem;
    }
    .offers{
        width: 40%;
    }
    .logo-footer{
        height: 75px;
    }
}
@media(max-width:900px){
    .logo-footer{
        height: 65px;
    }
}
@media(max-width:850px){
    .subscribe{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .input-email{
        width: 300px;
        margin: 0 auto;
    }
    .footer-in{
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .social{
        justify-content: center;
    }
}
@media(max-width:700px){
    .navbar{
        width: 90%;
    }
    .head-bar{
        font-size: 20px;
    }
    .logo-main{
        height: 60px;
    }
    .logo-footer{
        height: 60px;
    }
    .color-gray{
        font-size: 1rem;
    }
    .hero-img{
        width: 70%;
        margin: 0 auto;
    }
    .hero-text-two{
        font-size: 40px;
    }
    .width-90-offers{
        width: 90%;
    }
    .offers{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
}
@media(max-width:580px){
    .footer-in{
        flex-direction: column;
        align-items: start;
        text-align: start;
    }
    .logo-footer{
        width: 170px;
        height: 70px;
    }
    .subscribe{
        text-align: left;
    }
    .input-email{
        width: 300px;
        margin: 0;
    }
    .social{
        justify-content: start;
    }
}
@media(max-width:500px){
    .offers{
        flex-direction: column;
        text-align: center;
        row-gap: 1.5rem;
    }
}
@media(max-width:500px){
    .hero-img{
        width: 80%;
        margin: 0 auto;
    }
}
@media(max-width:400px){
    .hero-img{
        width: 85%;
        margin: 0 auto;
    }
    .hero-text-two{
        font-size: 30px;
    }
    .input-email{
        width: 250px;
        margin: 0;
    }
}
@media(max-width:340px){
    .input-email{
        width: 200px;
        margin: 0;
    }
}