*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.banner{
    min-height: 100vh;
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6%;
}
.text-container{
    width: fit-content;
    text-align: left;
    color: white;
    margin: 0 auto;
}
.hi{
    font-size: 72px;
    font-weight: 400;
}
.work{
    color: white;
    background-color: black;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-text-one{
    font-size: 72px;
    color: white;
    font-weight: 300;
    text-align: center;
}
.work-text-two{
    font-size: 96px;
    color: white;
    font-weight: 400;
}
.card-main{
    flex-wrap: wrap;
    row-gap: 3rem;
}
.card{
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    width: 30%;
    transition-duration: 0.3s;
    transition-property: all;
    border-radius: 10px !important;
}
.card:hover{
    transform: scale(1.04);
}
.contact{
    background-color: #515603;
    color: white;
    width: 50%;
    padding: 3rem;
}
.about{
    background-color: #722300;
    color: white;
    width: 50%;
    padding: 3rem;
}
.cr{
    background-color: black;
    color: white;
}
.footer{
    flex-wrap: wrap;
}





@media(max-width:1200px){
    .card{
        width: 45%;
        margin: 0 auto;
    }
}

@media(max-width:827px){
    .banner{
        min-height: 50vh;
    }
    .text-container{
        text-align: center;
    }
    .hi{
        font-size: 32px;
    }
    .banner{
        padding-top: 1%;
    }
    .work-text-one{
        font-size: 24px;
    }
    .work-text-two{
        font-size: 32px;
        color: white;
        font-weight: 400;
    }
    .card{
        width: 80%;
        margin: 0 auto;
    }
}
@media(max-width:600px){
    .contact{
        width: 100% !important;
    }
    .about{
        width: 100% !important;
    }
}
@media(max-width:450px){
    .card{
        width: 100%;
    }
    .contact{
        padding: 2rem;
    }
    .about{
        padding: 2rem;
    }
}
@media(max-width:400px){
    .contact{
        text-align: center;
    }
    .about{
        text-align: center;
    }
}